<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="minLatency" value="10"/>
    <add key="maxLatency" value="400"/>
    <add key="avgLatency" value="150"/>
    <add key="pctLatencyHigh" value="5"/>
    <add key="pctLatencyLow" value="5"/>
    <add key="stDevLatency" value="15"/>
    <add key="minPayload" value="1024"/>
    <add key="maxPayload" value="614400"/>
    <add key="avgPayload" value="8096"/>
    <add key="pctPayloadBig" value="10"/>
    <add key="pctPayloadSmall" value="10"/>
    <add key="stDevPayload" value="2048"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="perflogoutput.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
